button.large {
    width: 20%;
    font-size: x-large;
}

table.add {
    width: 90%;
}

td.hint {
    width: 5%;
    font-size: larger;
}

textarea {}

input {
    font-size: large;
    width: 60%;
}

*[required]::placeholder {
    color: red;
}
