/* САЙТ */
/* КНОПКИ В ШАПКЕ */
button.button--header {
    width: 30%;
    margin: 0 2px 0 2px;
    font-weight: bold;
    box-shadow: 2px 2px 2px gray;
    border-radius: 10px;
    background-color: beige;
}
button.button--header:focus {
    color: blue;
}

.warning {
    font-size: large;
    color: red;
}
header {
    text-align: center;
}
button.large {
    width: 100%;
    height: 70px;
    overflow: hidden;
    font-size: large;
}

table.add {
    width: 100%;
}

td.hint {
    width: 5%;
    font-size: larger;
}

textarea {
    font-size: large;
    width: 90%;
}

input {
    font-size: large;
    width: 90%;
}

*[required]::placeholder {
    color: red;
}

#search_results em {
    color: blue;
}

.copy {
    color: gainsboro;
    font-size: small;
    text-align: right;
}
.copy a {
    color: gainsboro;
    text-decoration: none;
}

.center {
    text-align: center;
}
.search-button {
    font-size: large;
    height: 30px;
    min-width: 50%;
}

/*
fieldset, legend {
    background-color: rgba(240, 255, 255, 0.5);
}
fieldset:nth-child(2n), legend {
    background-color: aliceblue;
}

.search-results-first-row {
    width: 5rem;
}*/
