#!/usr/bin/make -f

DH_VERBOSE=0

PACKAGENAME := $(shell awk '/^Package:/ {print $$2;}' debian/control)

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	touch configure-stamp
build: build-stamp

build-stamp: configure-stamp
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	-$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/$(PACKAGENAME)

# Build architecture-independent files here.
binary-indep: build install

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installexamples
	dh_installmenu
	dh_installcron
	dh_installman
	dh_installinfo
	dh_installchangelogs
	dh_link
	dh_compress
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb
	dh_prep

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure

# %:
#	dh $@
#
#
#override_dh_auto_install:
#	$(MAKE) install DESTDIR=$(CURDIR)/debian/findfolks
#
# override_dh_auto_build:

